<div class="p-5 pt-0">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card-wrapper total-services-wraper">
                    <div class="inside-card">
                        <div>
                            <p class="text-card">Total Service</p>
                            <p class="text-card money-card">
                                {{ totalDashData?.totalServiceCount || "-" }}
                            </p>
                        </div>
                        <div>
                            <nz-avatar [nzSize]="54" nzText="T" style="background-color: #87d068; font-size: 30px"></nz-avatar>
                        </div>
                    </div>
                    <span>These are the total services</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card-wrapper upcoming-service-wrapper">
                    <div class="inside-card">
                        <div>
                            <p class="text-card">Upcoming Services</p>
                            <p class="text-card money-card">
                                {{ totalDashData?.upcomingServicesCount || "-" }}
                            </p>
                        </div>
                        <div>
                            <nz-avatar [nzSize]="54" nzText="U" style="background-color: #87d068; font-size: 30px"></nz-avatar>
                        </div>
                    </div>
                    <span>From the total services</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card-wrapper completed-service-wrapper">
                    <div class="inside-card">
                        <div>
                            <p class="text-card">Total Completed</p>
                            <p class="text-card money-card">
                                {{ totalDashData?.completedServicesCount || "-" }}
                            </p>
                        </div>
                        <div>
                            <nz-avatar [nzSize]="54" nzText="T" style="background-color: #87d068; font-size: 30px"></nz-avatar>
                        </div>
                    </div>
                    <span>/ {{ totalDashData?.totalServiceCount || "-" }} services</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card-wrapper total-budget-wrapper">
                    <div class="inside-card">
                        <div>
                            <p class="text-card">Total Amount</p>
                            <p class="text-card money-card">
                                €{{ totalDashData?.totalAmount || 0 }}
                            </p>
                        </div>
                        <div>
                            <nz-avatar [nzSize]="54" nzText="$" style="background-color: #87d068; font-size: 30px"></nz-avatar>
                        </div>
                    </div>
                    <span>Total amount you spent</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
    </div>
</div>