/* You can add global styles to this file, and also import other style files */

// @import "../src/app/assests/styles/scss/style.scss";
@import "ngx-toastr/toastr";
.disable-button {
    cursor: not-allowed;
}

table th {
    color: #07728e !important;
}

.header-wrapper {
    color: chocolate;
}

.card-header-wrapper {
    color: #07728e !important;
}

.rating {
    color: #fee4cb !important;
}