.upcoming-wrapper {
    padding: 20px 20px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    .header-wrapper-upcoming {
        font-weight: 700;
        font-size: 16px;
        color: chocolate;
    }
}