<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    class="slider-wraper"
  >
    <div class="logo mb-5">
      <a href="https://ibb.co/nMR0WK6"
        ><img
          src="https://i.ibb.co/RT7S5JY/logo.png"
          alt="logo"
          border="0"
          width="50"
      /></a>
      <div>Service For Long Life</div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="mt-5">
      <li nz-menu-item nzSelected routerLink="/admindashboard" class="mt-4">
        <i class="zmdi zmdi-view-dashboard"></i>
        <span class="nav-text-header">Admin Home</span>
      </li>
      <li nz-menu-item routerLink="users">
        <i class="zmdi zmdi-collection-plus"></i>
        <span class="nav-text-header">Users</span>
      </li>
      <li nz-menu-item routerLink="profile">
        <i class="zmdi zmdi-account-circle"></i>
        <span class="nav-text-header">Profile</span>
      </li>
      <li nz-menu-item>
        <a class="dropdown-item" (click)="logout()">
          <i class="zmdi zmdi-long-arrow-right"></i> Logout</a
        >
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="header-wrapper shadow-sm">
        <div></div>
        <div class="profile-wrapper">
          <div class="btn-group" dropdown>
            <span dropdownToggle>
              <nz-avatar
                nzIcon="user"
                [nzText]="userDetails.userName[0]"
                nzSize="large"
              ></nz-avatar>
            </span>
            <div
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a class="dropdown-item" routerLink="profile">
                  <i class="zmdi zmdi-account-circle"></i> Profile</a
                >
              </li>

              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="logout()">
                  <i class="zmdi zmdi-long-arrow-left"></i> Logout</a
                >
              </li>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Copy Right ©2024 by Service For Long Life</nz-footer>
  </nz-layout>
</nz-layout>
